.container {
  width: 100%;
}

.dashboard-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;

  @media(max-width: 760px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
  }
}

#total-books {
  background-color: $white;
  color: $teal;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  grid-column: 1/2;
  grid-row: 1/3;

  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media(max-width: 760px) {
    height: 150px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#book-count {
  font-size: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#books-read {
  background-color: $white;
  color: $teal;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  grid-column: 1/2;
  grid-row: 3/5;

  @media(max-width: 760px) {
    text-align: center;
    height: 150px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

#popular-genre {
  background-color: $white;
  color: $teal;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  grid-column: 2/3;
  grid-row: 1/5;

  @media(max-width: 760px) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

#popular-author {
  background-color: $white;
  color: $teal;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  grid-column: 3/4;
  grid-row: 1/3;

  @media(max-width: 760px) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}


#average-pages {
  background-color: $white;
  color: $teal;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  grid-column: 3/4;
  grid-row: 3/5;

  >p {
    font-size: 42px;
  }

  @media(max-width: 760px) {
    height: 150px;
    text-align: center;
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
