<div class="card-product m-4">
  <%= image_tag book.thumbnailUrl, alt: "Book Cover" %>
  <div class="card-product-infos">
    <h2><%= link_to book.title, book_path(book), class: 'btn-link' %></h2>
    <h4><%= book.subtitle %></h4>
    <h5><%= book.author %></h5>
  </div>
</div>