<div class="profile-container">
  <%= render 'shared/profile_dashboard' %>
  <h2 class="title my-5 text-center"><%= @user.username.capitalize %>'s network</h2>
  <%= render 'shared/profile_friends' %>
</div>

