.btn-theme {
  background-color: $yellow;
  color: $teal;
  padding: 8px 15px;
  &:hover {
    color: $teal;
    opacity: .9;
  }
}

.btn-link {
  color: $teal;
  &:hover {
    color: $yellow;
  }
}

.nav-btn-link {
  color: $yellow;
  &:hover {
    color: $gray;
  }
}